@{
    ViewBag.Title = "Xác nhận đơn hàng";
}

<div class="alert alert-success" style="margin-top: 20px;">
    <h2>Đặt hàng thành công!</h2>
    <p>Đơn hàng của quý khách đã được chúng tôi ghi nhận.</p>
    <p>Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.</p>
    <p>Cảm ơn quý khách!</p>
    <br />
    @Html.ActionLink("Quay về trang chủ", "Index", "Home", null, new { @class = "btn btn-success" })
</div>